@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.about {
    text-align: center;
}

.about-column {
    float: left;
    width: 30%;
    padding: 10px;
}

.about-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #FAFAF6;
}

.about-headerText {
    position: absolute;
    color: #19869E;
    text-align: left;
    font-family: 'Roboto';
    left: 150px;  
    line-height: 0.25;
    top: 180px;
    font-size: 20px;
}
  
.about-innerRectangle {
    border-radius: 30px;
    background: #FAFAF6;
    position: absolute;
    height: 200px;
    width: 95%;
    left: 40px;
    top: 30px;
}

.about-musicLogo {
    position: absolute;
    height: 300px;
    width: 300px; 
    right: 80px;
    top: 100px;
    display: inline-block;
}

.about-lowerSection {
    background-color: #19869E;
    height: 250px;
    width: 100%;
    position: absolute;
    right: 0px; 
    bottom: 0px;
}
.about-header2 {
    background-color: white;
    min-height: 100vh;
    display: flex;
    width: 1050px;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #FAFAF6;
    margin-right: 50px;
  }

.about-titleText {
    color: #19869E;
    /* font-family: 'Inter', sans-serif; */
    position: absolute;
    left: 155.5px;
    top: 100px;
    font-size: 36px;
    display: inline-block;
}
.about-titleText2 {
    color: #19869E;
    /* font-family: 'Inter', sans-serif; */
    position: absolute;
    left: 100px;
    right: 150px;
    top: 180px;
    font-size: 36px;
    display: inline-block;
}

h2{
    color: #19869E;
}
.content{
    justify-content: center;
    display: flex;
    margin-left: auto;
}

h6 {
    color: #19869E;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    /* margin-left: 30px; */
    width: 90%;
    width: calc(100% - -1em);
    margin-bottom: 50px;
    /* justify-content: center; */
    /* display: flex; */
    left:50px;
}