@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FAFAF6;
}

